<div id="nav">
  <ul id="left">
    <li><%= link_to t('.pages'), admin_pages_path %></li>
    <li><%= link_to t('.categories'), admin_categories_path %></li>
    <li><%= link_to t('.translations'), admin_translations_path %></li>
  </ul>
  <ul id="right">
    <li><%= link_to t('.users'), admin_users_path %></li>
  </ul>
</div>