body {
  text-align:center;
  background: #EEE;
  margin:0; padding:0;
}
#container {
  text-align:left;
  width:90%;
  min-width:960px;
  margin:30px auto;
  background-color:transparent;
}

#toplinks{
  text-align:right;
  margin-bottom:15px;
}

#main {
  background:#FFF;
  padding:30px;
}

#nav { padding:0px; margin-bottom:20px; background-color:#333; color:#FFF; float:left; width:100%; }
#nav ul { margin:0; list-style:none; }
#nav ul#left { float:left; margin-left:15px; }
#nav ul li { float:left; padding:8px; }
#nav a { color:#FFF; text-decoration:none; }
#nav ul#right { float:right; margin-right:15px; }

form.search { background:transparent; border:none; padding:0; margin:15px 0; width:97%; overflow:hidden; }
form.search label { color:#333; line-height:1em; margin-bottom:1px; }
form.search input[type='text'] { padding:3px; line-height:1em; font-size:1em; border:1px solid #999; }
form.search div.top p { padding:3px; }

form textarea { width:100%; }

#errorExplanation { color:red; font-weight:bold; }
#errorExplanation ul { list-style:none; }
.field_with_errors { margin:0; padding:0; }

table { width:100%; }
table tr td { vertical-align:top; }

a.button {
  text-decoration:none; color:#FFF;
  display:inline-block;
  padding:3px 8px; 
  
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border:2px;
  
  border:1px solid #196996;
  background-color:#0A6EB4;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.01, #41B9F0),
      color-stop(0.81, #0A6EB4)
  );
  background-image: -moz-linear-gradient(
      center bottom,
      #41B9F0 1%,
      #0A6EB4 81%
  );
  -moz-box-shadow: 3px 3px 2px #CCC;
  -webkit-box-shadow: 3px 3px 2px #CCC;
  box-shadow:3px 3px 2px #CCC;
}

/* =pagination
-----------------------------------------------------*/
.pagination { margin:15px 0;}
.pagination a { text-decoration:none; display:inline-block; color:#333; }
.pagination .disabled { color:#999; }
.pagination .current { font-weight:bold; background:#333; color:#FFF; padding:2px; }

/* =translations
-----------------------------------------------------*/
#translations {}
#translations table span.key { font-size:0.9em; color:#999; }
#translations .delete { text-indent:-10000px; background:url(/images/merrycms/delete.png); display:block; width:16px; height:16px; opacity:0.6; }
#translations table tr td.actions { vertical-align:middle; }
#translations ul { list-style:none; }
#translations .count {
  color: #fff; font-weight: bold; background: #c00; font-size: 9px; padding: 3px; 
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  line-height: 9px; vertical-align: top; display: inline-block; 
}
#translations .no_translation { color:red; }