<div id="subnav">
  <ul class='left'>
    <li><%= link_to t('images.subnav'), admin_images_path %></li>
    <li><%= link_to t('documents.subnav'), admin_documents_path %></li>
    <li><%= link_to t('videos.subnav'), admin_videos_path %></li>
  </ul>
</div>