<h1><%= t('categories.sort.title') %></h1>

<ul id="categories">
  <% for category in @categories %>
  <li id="category-<%= category.id %>"><span class='handle'>[drag]</span><%= category.name %></li>
  <% end %>
</ul>

<p>
  <%= link_to t('categories.sort.stop_sorting'), categories_path %>
</p>


<% content_for (:head) do %>
<script type="text/javascript">
  $(function() {
    
    $('ul').sortable({items:'li',
      axis: 'y',
      dropOnEmpty: false,
      complete: function(request){$('ul').effect('highlight');},
      update: function() {
        $.post('/categories/sorting', '_method=get'+'&'+$(this).sortable('serialize'));
    }}).disableSelection();
    
  });
  
</script>  
<% end %>  
